@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

html {
  font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --primary-color: #12193c;
  --secondary-color: #8e8e99;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f3f6fd;
}

header {
  background: #fff;
  padding-bottom: 50px;
}

button {
  border-radius: 25px;
  padding: 0 25px;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Righteous", cursive;
  user-select: none;
}

nav .logo {
  color: var(--primary-color);
}

nav button {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.headline * {
  padding: 1rem;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

p {
  color: var(--secondary-color);
}

.headline button {
  color: #fff;
  background-image: linear-gradient(to bottom, #fd6556, #f2319e);
  border: none;
  padding: 10px 25px;
  margin-left: 1rem;
}

.design {
  width: 75%;
  padding-bottom: 50%;
  background-image: url(images/image-hero-mobile@.png);
  align-self: center;
}

.features {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.feature-tab {
  width: 100%;
  height: auto;
  padding: 25px;
  margin: 35px 0 30px 0;
  background: #fff;
  border-radius: 15px;
}

.feature-tab h3 {
  font-weight: 900;
  font-size: 1.375rem;
}

.feature-tab p {
  margin: 20px 0;
}

.link_bttn {
  color: #f54780;
  font-size: 25px;
  font-weight: 700;
}

.feature-tab:nth-child(1) {
  background-image: linear-gradient(to bottom, #fd6556, #f2319e);
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

.feature-tab img {
  position: relative;
  top: -50px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
}

footer .logo {
  color: #fff;
}

.footer button {
  background-image: linear-gradient(to bottom, #4851ff, #f02aa6);
  color: #fff;
  border: none;
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
    padding: 1rem 8rem 1rem 3rem;
    z-index: 2;
  }

  .headline {
    flex-direction: row;
  }

  h1 {
    margin: 5rem 1rem 0 2rem;
  }

  p {
    font-size: 17px;
    margin: -1rem 0 0 2rem;
  }

  .headline button {
    margin-left: 2.5rem;
  }

  .features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .feature-tab {
    width: 25%;
  }

  .feature-tab p {
    width: 80%;
  }

  .footer .logo {
    margin-left: 5rem;
  }

  .footer button {
    margin-right: 5rem;
  }

  .design {
    width: 75%;
    padding-top: 75%;
    margin-top: -15%;
    padding-bottom: 0;
    background-image: url(images/image-hero-desktop.png);
    background-repeat: no-repeat;
  }
}
