@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

html {
  font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --primary-color: #12193c;
  --secondary-color: #8e8e99;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f3f6fd;
}

header {
  background: #fff;
  padding-bottom: 50px;
}

button {
  border-radius: 25px;
  padding: 0 25px;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Righteous", cursive;
  user-select: none;
}

nav .logo {
  color: var(--primary-color);
}

nav button {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.headline * {
  padding: 1rem;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

p {
  color: var(--secondary-color);
}

.headline button {
  color: #fff;
  background-image: linear-gradient(to bottom, #fd6556, #f2319e);
  border: none;
  padding: 10px 25px;
  margin-left: 1rem;
}

.wrapper {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: auto;
}

.design {
  width: 75%;
  padding-bottom: 75%;
  border-radius: 50%;
  position: relative;
  background: url(images/girl_hero_img.png) no-repeat right 75% bottom, linear-gradient(to bottom, #fd6556, #f2319e);
}

.members-hours {
  width: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
}

.members-hours:nth-child(1) {
  right: -50px;
  top: 0;
}

.members-hours:nth-child(2) {
  left: -50px;
  bottom: 0;
}

.members-hours * {
  padding: 0;
}

.members-hours h3 {
  color: var(--secondary-color);
}

.members-hours h4 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.features {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.feature-tab {
  width: 100%;
  height: auto;
  padding: 25px;
  margin: 35px 0 30px 0;
  background: #fff;
  border-radius: 15px;
}

.feature-tab h3 {
  font-weight: 900;
  font-size: 1.375rem;
}

.feature-tab p {
  margin: 20px 0;
}

.link_bttn {
  color: #f54780;
  font-size: 25px;
  font-weight: 700;
}

.feature-tab:nth-child(1) {
  background-image: linear-gradient(to bottom, #fd6556, #f2319e);
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

.feature-tab img {
  position: relative;
  top: -50px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
}

footer .logo {
  color: #fff;
}

.footer button {
  background-image: linear-gradient(to bottom, #4851ff, #f02aa6);
  color: #fff;
  border: none;
}


@media screen and (min-width: 768px) {
  nav {
    position: relative;
    padding: 1rem 8rem 1rem 3rem;
    z-index: 2;
  }

  .headline {
    flex-direction: row;
  }
  
  h1 {
    margin: 5rem 1rem 0 2rem;
  }

  p {
    font-size: 17px;
    margin: -1rem 0  0 2rem;
  }

  .headline button {
    margin-left: 2.5rem;
  }

  .features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

.feature-tab {
  width: 25%;
}

.feature-tab p {
  width: 80%;
}

.footer .logo {
  margin-left: 5rem;
}

.footer button {
  margin-right: 5rem;
}

.design {
  width: 35%;
  padding-bottom: 60%;
  border-radius: 200px;
  position: relative;
  background: url(images/girl_hero_img.png) no-repeat right 75% bottom, linear-gradient(to bottom, #fd6556, #f2319e);
}

.headline::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, hsl(291deg 56% 49%), hsl(254deg 80% 60%));
  width: 20%;
  padding-bottom: 50%;
  top: -175px;
  right: 0;
  transform: rotate(45deg);
}

.members-hours h4 {
  font-size: 1.5rem;
}

.members-hours:nth-child(1) {
  right: -50px;
  top: 50px;
}

.members-hours:nth-child(2) {
  left: -50px;
  bottom: 50px;
  box-shadow: -10px 10px 65px 0px #91959e;
}
}